

// Fonts


// Variables
@import 'variables';


@tailwind preflight;

@tailwind components;

@tailwind utilities;




.button {
	@apply .text-white .no-underline .rounded-lg .text-sm .py-2 .px-5;
	box-shadow: 0 2px 7px 0 #b0eaff;

	background-color: #4dc0b5;
}

.button-default {
	@apply .text-white .no-underline .rounded-lg .text-sm .border .py-2 .px-5;
	box-shadow: 0 2px 7px 0 #b0eaff;

	background-color: gray;
}

.card {
	@apply .bg-white .rounded .shadow .p-5;

}

.logo {
	width:150px;
	height: 34px;
}

.tts {
	background-color: #0ed3cf;
	width:4px; 
	float:left; 
	height:75%; 
}

.border-error-color {
	border-color:red;
}

.subtitle {
	font-size: 38px;
	color: gray;
}